.body{
  font-family: sans-serif;
}

a{
  text-decoration: none;
}

/* Utility */
.p-20{
  padding: 20px;
}
.py-50{
  padding: 50px 0;
}
.pr-10{
  padding-right: 10px;
}
.pl-10{
  padding-left: 10px;
}
.pt-50{
  padding-top: 50px;
}

.mb-80{
  margin-bottom: 80px;
}
/* END Utility */

/* Header section */
#site-header{
  background-color: white;
}

nav{
  height: 80px;
  line-height: 80px;
  background-color: white;
}

.header-logo img{
  width: 40%;
}

.list-inline li{
  list-style: none;
  display: inline-block;
}

.list-inline li a{
  padding: 0 10px;
  color: black;
}

.header-menu, .header-langs{
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
}

.header-menu{
  text-align: right;
}

.header-langs li:not(:last-child) a{
  border-right: 1px solid black;
}

.menu-icon{
  display: none;
}

.hero-image{
  background-image: url("../img/hero_image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-text, .helbiz-family{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text{
  text-align: center;
  color: white;
}
.hero-text p{
  margin: 20px 0 40px 0;
  font-size: 1.3rem;
}
.hero-text h1{
  font-size: 2.5rem;
}
.hero-text img{
  width: 30%;
  padding: 0 10px;
}
/* END Header section*/

/* Main section*/
#site-main{
  background-color: white;
}

.card{
  text-align: center;
}

#products .card{
  background-color: #fafafa;
}

.card-logo{
  height: 30px;
  margin-top: 50px;
}

#products p{
  font-size: 1.5rem;
  padding: 40px;
}

#products a{
  font-size: 1.35rem;
}

.card-image{
  width: 100%;
}

.banner-image, #family{
  width: 100%;
  height: 427px;
  background-image: url("../img/index_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#how .card{
  text-align: left;
}

h2{
  font-size: 2.2rem;
}

#how p{
  padding: 10px 0;
}

#central-card{
  position: relative;
}

.iphone{
  height: 500px;
  position: absolute;
  bottom: -130px;
  left: 50%;
  transform: translateX(-50%);
}

#mobility{
  color: white;
}

#scooter-bg{
  height: 500px;
  background-image: url("../img/scooter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#mobility p{
  font-size: 1.2rem;
  padding: 20px 0;
}
#mobility a{
  color: white;
  font-size: 1.2rem;
}
#mobility h2{
  padding: 50px 0;
}

#app{
  background-color: #3c5063;
  height: 500px;
  position: relative;
}

#app img{
  width: 30%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#find{
  height: 500px;
  background-image: url("../img/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#family{
  position: relative;
}

.helbiz-family{
  background-color: white;
  text-align: center;
  padding: 50px;
}
.helbiz-family h2{
  padding: 25px 0;
}
.helbiz-family li a{
  font-size: 2.5rem;
}

/* END Main section*/

/* Footer section*/
#site-footer{
  background-color: black;
  color: white;
}

#site-footer img{
  width: 40%;
}

.footer-menu h4{
  margin-bottom: 30px;
}
.footer-menu ul li{
  list-style: none;
  padding: 10px 0;
}
.footer-menu a{
  color: #808080;
}

.border-tb{
  border-top: 1px inset #808080;
  border-bottom: 1px inset #808080;
}

.footer-middle{
  padding: 20px 0;
}
.footer-middle li a{
  color: white;
  font-size: 1.5rem;
}

#site-footer .card a img{
  width: 15%;
  padding: 20px 10px 80px 10px;
}
/* END Footer section*/

/* Media Query md */
@media screen and (min-width: 769px) and (max-width: 1200px){
  .header-logo img{
    width: 70%;
  }
  .header-menu{
    display: none;
  }

  .header-langs ul{
    display: none;
  }
  .menu-icon{
    display: block;
  }

  .hero-text img{
    width: 40%;
    padding: 0 10px;
  }
}

/* Media Query sm */
@media screen and (max-width: 768px){
  .header-logo img{
    width: 100%;
  }
  .header-menu{
    display: none;
  }

  .header-langs ul{
    display: none;
  }
  .menu-icon{
    display: block;
  }

  .hero-text img{
    width: 50%;
    padding: 0 10px;
  }

  .iphone {
    height: 300px;
    position: absolute;
    bottom: 84px;
    left: 50%;
    transform: translateX(-50%);
  }
}
